# Python:

It is easy to learn, yet a powerful programming language.

Free and Open Source Language.

It has a vast number of libraries, helps achieve different functionalities.

Python has an easy syntax.

In [1]:
print('Hello World!') # Shift + Enter

Hello World!

In [2]:
print("Display")

Display

## Comments:

Non-executable statements in code.

In [3]:
print("My name is Michael!") # Single line comment

My name is Michael!

In [4]:
# print("Hello")
# print("World")
# print("!") # Multiple line comments

## Variables:

is just a storing unit. It stores a value.

a = 10

a = 'Hello'

In [5]:
_a = 10 # Can use _ as special character
print(_a)

10

In [6]:
my_name = 'Matthew'
print(my_name)

Matthew

In [7]:
a12 = 5 # Can have alpha-numeric values
a12

5

In [8]:
1a = 10 # Cannot start with Numbers

SyntaxError: invalid decimal literal (2750010634.py, line 1)

In [9]:
100b = 9

SyntaxError: invalid decimal literal (4149854945.py, line 1)

In [10]:
Ad = 'Google'
print(Ad)

Google

In [11]:
Ad

'Google'

In [12]:
A12 = 5
a12 = 4
print(a12)
print(A12)

4
5

## Tokens:

Smallest units in Python.

4 types:

1. Keywords, 

2. Identifiers,

3. Literals,

4. Operators.

### Keywords are special reserved words in Python. (Predefined) or they already have a meaning.

In [13]:
import keyword
print("Python keywords are:")
print(keyword.kwlist)

Python keywords are:
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [14]:
False = 0 # Cannot have keywords as a variable name

SyntaxError: cannot assign to False (3690531693.py, line 1)

In [15]:
True = 1

SyntaxError: cannot assign to True (1770609971.py, line 1)

In [16]:
true = 10 # Not a keyword, its a variable name
true

10

In [17]:
_False = 5
_False

5

## Identifiers:

myVariable = 10 (myVariable is the identifier)

Rules:

1. Special characters that can be used are _ underscore.

2. Keywords should not be used as an identifier.

3. Python is case-sensitive. (True is a keyword, true is an identifier)

4. First character cannot be numbers.

In [18]:
_True = 6
_True

6

In [19]:
class = 10
class # class is a keyword

SyntaxError: invalid syntax (3499399659.py, line 1)

In [20]:
Class = 10 # Class is not a keyword, 'class' is a keyword
Class

10

In [21]:
4lb = 5

SyntaxError: invalid decimal literal (905613334.py, line 1)

In [22]:
_4lb = 8
_4lb

8

## Literals:

Raw data that is given to a variable.

a = 10 (10 is the literal)

There are 4 types:

1. String literals: "Virat Kohli", '$', 'Hello', "13/04/2024"

2. Numeric literal: 10, 100(integer), 3.14(float), 4.56

3. Boolean literal: True, False

4. Special literal: None(value is yet to be assigned)

In [23]:
date = '13/04/2024' # String literal
date

'13/04/2024'

In [24]:
type(date)

str

In [25]:
v = None # Nothing in v
v

In [26]:
a = 3.56 # float-decimal
type(a)

float

In [27]:
a = 20
type(a)

int

In [29]:
f = True # Boolean literals
g = False

print(f)

True

In [30]:
type(f)

bool

## Operators:

used for basic operations in python.

1. Arithmetic operators: Mathematical operations.

In [31]:
a = 5
b = 3
print(a + b)

8

In [32]:
print(a - b)

2

In [33]:
print(a * b)

15

In [34]:
print(a / b)

1.6666666666666667

In [35]:
print(a // b) # Floor division - removes the decimal part

1

In [37]:
print(5 % 3) # Modulus - remainder

2

In [38]:
print(8 % 2) # even number divided by 2 gives remainder 0

0

In [39]:
print(8 ** 2) # to the power or exponentiation

64

In [40]:
print(5 ** 3)

125

2. Assignment operators:

In [41]:
a = 5
a

5

In [42]:
# Shorthand operators
a += 3 # Adds and assigns, a = a + 3
a

8

In [44]:
a -= 2 # a = a - 2
a

6

In [45]:
print(a / 2) # This doesn't change the value as there is no '=' sign

3.0

In [46]:
a

6

3. Comparison Operators: Used to compare two values, returns a boolean value(True or False).

In [47]:
a = 5
b = 3

In [48]:
print(a > b)

True

In [49]:
a < b

False

= is used for assigning values.

== is used for comparison(equality check).

In [50]:
a == b

False

In [51]:
a != b # Not equal to

True

In [52]:
print(5 >= 3)

True

In [53]:
print(5 >= 5)

True

In [54]:
print(5 <= 5)

True

In [55]:
print(5 <= 3)

False

4. Logical Operator: Combines multiple conditions.

In [56]:
a = True
b = False

In [57]:
print(a and b) # and - multiplication (1 * 0 = 0 => False)

False

In [58]:
print(a or b) # or - addition(1 + 0 => 1 = True)

True

In [59]:
True or True

True

In [60]:
not a # not - Opposite

False

In [61]:
not False

True

5. Identity operator: Used to compare objects.

Eg: is, is not

In [62]:
x = 10
a = x

a is x

True

In [63]:
t = 5
p = 5
t is p

True

In [64]:
t is not p

False